node_modules/
dist/
.env
*.log
.DS_Store
pgdata/

*.tgz
*.tar.gz
secrets/
*.pem
*.key
id_rsa*


*.sql.gz
!deploy/fuelmap-backup.sql.gz
!deploy/reports-seed.sql.gz
fuel-map-deploy.tgz

scripts/data/benzin-cookies*.txt
scripts/data/benzin-debug*.html
scripts/data/benzin-test*.html
scripts/data/benzin-moscow*.html
scripts/data/benzin-price2*.html
scripts/data/benzin-homepage*.html
scripts/data/benzin-region*.html

